* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-size: 48%;
}
body {
  margin: 0 auto;
  width: 1200px;
  height: 925px;
  line-height: 1;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  background-image: url(img/BG.png);
  background-size: cover;
}
.container {
  width: 1000px;
  height: 890px;
  margin: 30px auto 0px auto;
  box-shadow: 0 0 4rem 0.8rem rgba(0, 0, 0, 0.1);
}
.btn:link,
.btn:visited {
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #fefefe;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 0.2rem;
  transition: all 0.3s;
}
.header {
  background-image: linear-gradient(to bottom right,rgba(34, 35, 54, 0.363),rgba(66, 43, 43, 0.61)),url(img/bg-img.jpg);
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5.5rem 0rem;
  border-bottom: 1.5px solid #b3b3b3;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 5rem;
}
.logo {
  font-size: 1.4rem;
  font-weight: 600;
  color: #eee;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.icon {
  height: 1.4rem;
}
.btn.help {
  font-size: 1rem;
  font-weight: 500;
  color: #cdcdcdd5;
  background-color: rgba(232, 228, 248, 0.123);
}
.btn.help:hover,
.btn.help:active {
  background-color: rgba(229, 229, 250, 0.330);
}
.bell-icon {
  font-size: 2.4rem;
  color: rgba(205, 205, 205, 0.7);
  position: relative;
  transition: all 0.3s;
}
.bell-icon:hover {
  color: rgba(248, 241, 241, 0.918);
}
.bell-icon::after {
  height: 0.6rem;
  width: 0.6rem;
  content: "";
  display: block;
  position: absolute;
  top: 0.4rem;
  right: 0.2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fc9b09;
}
.profile-sm {
  height: 3.1rem;
  width: 3.1rem;
  border-radius: 0.4rem;
}
.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.4rem;
  justify-items: end;
  position: relative;
}
.pro-img {
  height: 24rem;
  width: 24rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 1.3rem;
  left: 0;
}
.bio {
  grid-row: span 2;
  margin: 1.4rem 2.5rem 0rem 0rem;
}
.greeting {
  font-size: 2.5rem;
  font-weight: 400;
  color: #fefefe;
  margin-bottom: 1.7rem;
}
.details {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.detail {
  font-size: 1.1rem;
  color: #eee;
}
.detail span {
  color: #cdcdcd;
}
.completion {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding:  2.7rem;
  margin-bottom: 0.4rem;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 0.4rem;
}
.pro {
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 50%;
  background-image: conic-gradient(#819196 25%, #fc9b09 0%);
  display: grid;
  place-items: center;
}
.pro-sm {
  height: 7.7rem;
  width: 7.7rem;
  background-color: #597079fd;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.pro-sm p {
  height: 5.9rem;
  width: 5.9rem;
  font-size: 1.4rem;
  color: #eee;
  background-color: #819196;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.completion .com {
  color: #fefefe;
  margin-bottom: 0.7rem;
  font-size: 1.35rem;
  font-weight: 400;
}   
.completion .request {
  color: #cdcdcd;
  font-size: 1.1rem;
  margin-bottom: 2.2rem;
}
.get{
  display: flex;
}
.btn.complete {
  font-size: 1.3rem;
  color: #FFF;
  padding: 0.7rem 2rem;
  background-color: #fc9b09;
  text-transform: uppercase;
  cursor: pointer;
}
.btn.complete:hover,
.btn.complete:active,
.btn.pay:hover,
.btn.pay:active {
  background-color: #ec8e02;
}
.camera {
  height: 2.7rem;
  width: 2.8rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.123);
  cursor: pointer;
  display: flex;
  padding: 0.45rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}
.camera:hover {
  background-color: rgba(255, 255, 255, 0.336);
}
.camera-icon {
  color: #cdcdcd;
}
.section {
  display: flex;
  width: 100%;
  background-color: #fff;
}
.about {
  padding: 7.5rem 2.4rem 0rem 5.5rem;
  border-right: 1.5px solid #eee;
}
.title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1.5px solid #dedede;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: #999;
}
.about-icon:hover {
  color: #1a1a1a;
}
.family {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.category-title {
  font-size: 1.3rem;
  font-weight: 550;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}
.photos {
  display: flex;
  gap: 2rem;
}
.photo {
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.about-me {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  gap: 2rem;
  font-size: 1.2rem;
}
.about-me span {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  display: inline-block;
  margin-bottom: 1rem;
}
.main {
  width: 100%;
}
.main-nav {
  border-bottom: 1.5px solid #eee;
  padding: 0.2rem 10rem 0.2rem 1.68rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.line:link,
.line:visited {
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #949494;
  display: inline-block;
  padding: 2.4rem 0;
}
.dashboard-icon {
  color: #1a1a1a;
  font-size: 1.7rem;
}
.active {
  display: flex;
  align-items: center;
}
.active .line {
  font-weight: 550;
  color: #1a1a1a;
}
.active,
.line:hover,
.line:active {
  color: #1a1a1a;
  font-weight: 550;
  cursor: pointer;
  box-shadow: inset 0 0 0 #fc9b09, 0 1.80px 0 #fc9b09,0 0.8rem 0 rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn.claim:hover,
.btn.claim:active {
  background-color: #00b988;
}
.dashboard {
  padding: 4rem 4.8rem 3.2rem 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.card {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 3rem;
  margin-bottom: 0.8rem;
  box-shadow: 0 0.2rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);
}
.num {
  font-size: 6.2rem;
  font-family: "Dosis", sans-serif;
  letter-spacing: 1.5px;
}
.text {
  padding-left: 1.8rem;
  border-left: 1.5px solid #eee;
}
.claim-title {
  font-size: 1.65rem;
  text-transform: uppercase;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 1.9rem;
}
.imgs {
  display: flex;
  position: relative;
}
.img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  margin-right: -1.2rem;
  cursor: pointer;
}
.img:last-child {
  margin-right: 0;
}
.imgs::after {
  content: "+32";
  display: grid;
  place-items: center;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #eee;
  background-color: rgba(13, 211, 158, 0.7);
  position: absolute;
  top: 0;
  left: 6rem;
}
.person {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.9rem;
  box-shadow: 0 0.2rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);
}
.pic {
  height: 12rem;
  width: 12rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.name {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.dets {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.det {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.2rem;
}
.cal{
  cursor: pointer;
  height:15px;
  width: 14px;
}
.event{
  cursor: pointer;
  margin-left: 0.5px;
  height:16px;
  width: 16px;
}
.pin{
  cursor: pointer;
  margin:-1.5px 0 0 0px;
  height:14px;
  width: 14px;
}
.cal, .pin{
  margin-right: 10px;
}
.event{
  margin-right: 8px;
}
.det span {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 550;
}
.det p {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 550;
}
.btn.pay {
  font-size: 1.2rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-left: auto;
  background-color: #fc9b09;
}
.icon-pay {
  height: 1.2rem;
  width: 1.7rem;
}
.act-section {
  grid-column: 3;
  grid-row: 2 / span 3;
  padding: 2rem 2.5rem 1.6rem 1.6rem;
  box-shadow: 0 0.2rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);
}
.act-heading {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1.5px solid #eee;
}
.acts {
  display: flex;
  flex-direction: column;
  gap:2rem;
  height: 40rem;
  overflow-y: scroll;
  position: relative;
}
.acts::-webkit-scrollbar {
  width: 0.4rem;
}
.acts::-webkit-scrollbar-track {
  background: #fff;
}
.acts::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 100rem;
  background-color: #fc9b09;
}
.acts::before {
  content: "";
  display: block;
  height: 310rem;
  width: 1px;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 1rem;
}
.act {
  position: relative;
  padding: 0 2.2rem 0 3.2rem;
}
.point {
  position: absolute;
  top: 0;
  left: 0.7rem;
  transform: translateY(50%);
  height: 0.80rem;
  width: 0.80rem;
  border-radius: 50%;
}
.act:nth-child(3n) .point {
  background-color: #28e268;
  box-shadow: 0 0 0 0.3rem #defde9;
}
.act:nth-child(3n + 1) .point {
  background-color: #57a9f2;
  box-shadow: 0 0 0 0.3rem #ddeefd;
}
.act:nth-child(3n + 2) .point {
  background-color: #fc9b09;
  box-shadow: 0 0 0 0.3rem #fff0d8;
}
.act-title {
  font-size: 1.4rem;
  font-weight: 550;
  color: #1a1a1a;
  margin-bottom: 0.6rem;
}
.desc {
  font-size: 1.3rem;
  font-weight: 450;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0.7rem;
}
.time {
  font-size: 1.2rem;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.2);
}
